<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><h4><%= year %></h4></a>
        </div>
        <div class="archives">
    <% } %>
      <a href="<%- url_for(post.path) %>" class="archive-article">
        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished" class="archive-article-date"><%= date(post.date, 'DD/MM') %></time><span class="archive-article-icon">・</span><span class="archive-article-title" itemprop="name"></span><%= post.title %></span>
      </a>
    </article>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<% if (page.total > 1){ %>
  <nav id="page-nav">
    <% var prev_text = "« " + __('prev');var next_text = __('next') + " »"%>
    <%- paginator({
      prev_text: prev_text,
      next_text: next_text
    }) %>
  </nav>
<% } %>
