<article class="article" itemscope itemprop="blogPost">
  <!-- Title -->
  <h2 itemprop="name">
    <a class="article-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
  </h2>
  <!-- Date Category -->
  <div class="article-meta">
    <a class="article-date" href="<%- url_for(post.path) %>"><%= date(post.date, null) %></a>
    <span>・</span>
    <% if (post.categories){ %>
    <%- list_categories(post.categories, {
            show_count: false,
            style: 'none',
          }) %>
    <% } %>
  </div>
  <!-- Content -->
  <div class="article-entry">
    <% if (post.excerpt && index){ %>
    <%- post.excerpt %>
    <% if (theme.excerpt_link){ %>
    <a href="<%- url_for(post.path) %>#more" class="article-more-link"><%= theme.excerpt_link %></a>
    <% } %>
    <% } else { %>
    <%- post.content %>
    <% } %>
  </div>
  <!-- Footer -->
  <div class="article-footer">
    <% if (post.tags && post.tags.length) { %>
    <%- list_tags(post.tags, {
          show_count: false,
        }) %>
    <% } %>
    <div class="article-others">
      <% if (theme.config.disqus.shortname) { %>
      <a href="<%- post.permalink %>#disqus_thread" class="link"><i class="icon comment"></i><%= __('comment') %></a>
      <% } %>
      <a data-url="<%- post.permalink %>" class="link" onclick="shareLink('<%= post._id %>')"><i
          class="icon share"></i><%= __('share') %></a>
      <div class="article-share-box" id="<%= post._id %>">
        <input class="article-share-input" value="<%- post.permalink %>">
        <div class="article-share-links">
          <a href="https://twitter.com/intent/tweet?url=<%- post.permalink %>" class="column article-share-twitter"
            target="_blank" title="Twitter">
            <i class="icon twitter"></i></a>
          <a href="https://www.facebook.com/sharer.php?u=<%- post.permalink %>" class="column article-share-facebook"
            target="_blank" title="Facebook">
            <i class="icon facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Next,Prev Post -->
  <% if (!index){ %>
  <% if (post.prev || post.next) { %>
  <div id="article-nav">
    <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><%= __('newer') %></strong>
      <div class="article-nav-title"><%= post.prev.title %></div>
    </a>
    <% } %>
    <% if (post.next){ %>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><%= __('older') %></strong>
      <div class="article-nav-title"><%= post.next.title %></div>
    </a>
    <% } %>
  </div>
  <% } %>
  <% } %>
</article>

<!-- disqus -->
<% if (theme.config.disqus.shortname && is_post()) { %>
<div id="disqus_thread">
  <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<script>
  function loadDisqus() {
    var d = document, s = d.createElement('script');
    s.src = 'https://<%= theme.config.disqus.shortname %>.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    window.disqus_config = function () {
      this.page.url = '<%= page.permalink %>';
    };
  }
  var runningOnBrowser = typeof window !== "undefined";
  var isBot = runningOnBrowser && !("onscroll" in window) || typeof navigator !== "undefined" && /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);
  var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;
  setTimeout(function () {
    if (!isBot && supportsIntersectionObserver) {
      var disqus_observer = new IntersectionObserver(function (entries) {
        if (entries[0].isIntersecting) {
          loadDisqus();
          disqus_observer.disconnect();
        }
      }, { threshold: [0] });
      disqus_observer.observe(document.getElementById('disqus_thread'));
    } else {
      loadDisqus();
    }
  }, 1);
</script>
<% if (theme.config.disqus.count) { %>
<script id="dsq-count-scr" src="https://<%= theme.config.disqus.shortname %>.disqus.com/count.js" async></script>
<% } %>
<% } %>