<header class="lazy header">
  <div class="container">
    <div class="navbar">
      <div class="main-nav">
        <% for (var i in theme.menu){ %>
        <a class="column" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </div>
      <div class="sub-nav">
        <% if (theme.rss){ %>
        <a class="column rss" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
        <a class="column search" href="<%- url_for("search") %>" title="<%= __('search') %>"></a>
      </div>
    </div>
    <div class="header-title">
      <h1><a href="<%- url_for() %>"><%= config.title %></a></h1>
      <% if (theme.subtitle){ %>
      <h2><a href="<%- url_for() %>"><%= theme.subtitle %></a></h2>
      <% } %>
    </div>
  </div>
</header>