<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <!-- favicon -->
  <% if (theme.head.favicon.ico) { %>
    <link href="<%= theme.head.favicon.ico %>" rel="icon" type="image/ico">
  <% } %>
  <% if (theme.head.favicon.app_touch_icon) { %>
    <link href="<%= theme.head.favicon.app_touch_icon %>" rel="apple-touch-icon" sizes="180x180">
  <% } %>
  <% if (theme.head.favicon.large) { %>
    <link href="<%= theme.head.favicon.large %>" rel="icon" type="image/png" sizes="192x192">
  <% } %>
  <% if (theme.head.favicon.medium) { %>
    <link href="<%= theme.head.favicon.medium %>" rel="icon" type="image/png" sizes="32x32">
  <% } %>
  <% if (theme.head.favicon.small) { %>
    <link href="<%= theme.head.favicon.small %>" rel="icon" type="image/png" sizes="16x16">
  <% } %>
  <!-- theme css -->
  <%- css({ href: 'css/style.css' }) %>
  <%- css({ href: 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/tomorrow-night.min.css', media: 'print', onload: "this.media='all'" }) %>
  <%- open_graph({twitter_id: theme.head.twitter}) %>
  <!-- site-verification -->
  <% if (theme.head.site_verification.google) { %>
    <meta name="google-site-verification" content="<%= theme.head.site_verification.google %>" />
  <% } %>
  <!-- RSS -->
  <% if (theme.rss) { %>
    <link rel="alternate" type="application/atom+xml" href="<%= url_for(theme.rss) %>" title="<%= config.title %>">
  <% } %>
  <!-- theme color -->
  <% if (theme.head.theme_color) { %>
    <meta name="theme-color" content="<%= theme.head.theme_color %>">
  <% } %>
</head>

<body>
  <div id="wrap">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div class="container flex-content">
      <section id="main"><%- body %></section>
      <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <%- js({ src: 'js/script', async: true }) %>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.2/dist/lazyload.min.js"></script>
  <script>
    var lazyLoadInstance = new LazyLoad();
    lazyLoadInstance.update();
  </script>
  <% if (theme.google_analytics){ %>
  <script>
    window.ga_tid = "<%= theme.google_analytics %>";
    window.ga_api = "https://proud-field-6446.mollykannn.workers.dev"; 
  </script>
  <script src="https://cdn.jsdelivr.net/npm/cfga@1.0.3" async></script>
  <% } %>
  <% if (theme.config.disqus.shortname && page.permalink){ %>
  <script>
    function loadDisqus() {
      var d = document, s = d.createElement('script');
      s.src = 'https://<%= theme.config.disqus.shortname %>.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      window.disqus_config = function () {
        this.page.url = '<%= page.permalink %>';
      };
    }
    var runningOnBrowser = typeof window !== "undefined";
    var isBot = runningOnBrowser && !("onscroll" in window) || typeof navigator !== "undefined" && /(gle|ing|ro|msn)bot|crawl|spider|yand|duckgo/i.test(navigator.userAgent);
    var supportsIntersectionObserver = runningOnBrowser && "IntersectionObserver" in window;
    setTimeout(function () {
      if (!isBot && supportsIntersectionObserver) {
        var disqus_observer = new IntersectionObserver(function (entries) {
          if (entries[0].isIntersecting) {
            loadDisqus();
            disqus_observer.disconnect();
          }
        }, { threshold: [0] });
        disqus_observer.observe(document.getElementById('disqus_thread'));
      } else {
        loadDisqus();
      }
    }, 1);
  </script>
  <% if (theme.config.disqus_count) { %>
  <script id="dsq-count-scr" src="https://<%= theme.config.disqus.shortname %>.disqus.com/count.js" async></script>
  <% } %>
  <% } %>
</body>

</html>