  <div class="widget-wrap">
    <div class="widget">
      <img src="/css/images/icon.jpg" alt="Mollys-icon" class="icon_image">
      <%= config.description %>
      <div class="icon-nav">
        <a href="<%= config.portfolio %>" class="portfolio"></a>
        <a href="<%= config.github %>" class="github"></a>
        <a href="<%= config.linkedin %>" class="linkedin"></a>
        <a href="<%= config.twitter %>" class="twitter"></a>
        <a href="<%= config.pinboard %>" class="pinboard"></a>
      </div>
    </div>
  </div>
