<div class="widget-wrap">
  <img src="/images/web/icon.jpg" alt="Mollys-icon" class="icon_image">
  <p><%= config.description %></p>
  <div class="icon-nav">
    <a href="<%= config.portfolio %>" class="portfolio"></a>
    <a href="<%= config.github %>" class="github"></a>
    <a href="<%= config.linkedin %>" class="linkedin"></a>
    <a href="<%= config.twitter %>" class="twitter"></a>
  </div>
</div>